<div class="container">
  <h1>Enter the URL you wish to shorten!</h1>
  <%= url_url(params[:id]) if params[:id] %>
  <%= form_for(:url) do |f| %>
  <div class="field">
    <%= f.label :input %>
    <%= f.text_field :input %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>
